body {
    font-family: 'Poppins', sans-serif;
    background: rgb(160, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    background: rgba(54, 43, 43, 0.95);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
    width: 300px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #b71414;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 75%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #ff7e5f;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #ff512f, #dd2476);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

button:hover {
    background: linear-gradient(to right, #dd2476, #ff512f);
    transform: scale(1.05);
}


.logout-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ede6e6;
    color: rgb(136, 30, 30);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.logout-btn:hover {
    background-color: #444;
    transform: scale(1.05);
}